*{
    background-color:white;
  }
  h2{
    text-align: left;
    font-size: 30px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }
  .gallery {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 24%;
  }
  
  .gallery:hover {
    border: 1px solid white;
  }
  
  .gallery img {
    width: 100%;
    height: 300px;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    color:white ;
    background-color:#5199e4;
  }
  .gallery{
    background-color:#5199e4;
    color:white;
  }
  button{
    border: none;
    position: relative;
    left: 90%;
    margin-bottom: -5%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #5199e4;
    background: #5199e4;
    padding: 0.5px;
    border-radius: 2px;
    top: 20px ;
  }
  button:hover{
    background: linear-gradient(to right, #5199e4, white);
  }