<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Anti-Corrosive Paint.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Corrosion is a severe problem affecting the life of any element of the house made of steel or iron. Since paints are devised for 
        protecting metal surfaces, it is broadly believed and also misunderstood that all oil based paints are anti-corrosive paints. It is 
        not a correct version. All oil-based paints are not anti-corrosive paints. They are merely decorative paints which protect the metal 
        surface partially against the climatic corrosion but fail to stand against the drastic corrosion caused by various industrial 
        chemicals & gases.Corrosion resistant coatings protect metal components against degradation due to moisture, salt spray, oxidation 
        or exposure to a variety of environmental or industrial chemicals. The anticorrosive paints impede or obstruct the corrosion by 
        reducing the direct access of air and water to the metal. Anti corrosion coating allows added protection of metal surfaces and acts 
        as a barrier to inhibit the contact between chemical compounds or corrosive materials. A wide variety of anti corrosion coatings is 
        available. These types of anti corrosion coating are mostly applied on iron or steel products. Composition-Anti corrosive paint is a 
        composition of corrosion resistant pigments such as zinc chromate, lead chromate, zinc oxide, zinc dust, zinc chromate, or red lead. 
        Linseed oil is used as a binder in the anti corrosive paint. Anti corrosive paints should have quick drying and hardening properties. 
        It has good abrasion resistance, good rust prevention, water resistance and good impact resistance. It is a cheap and long lasting 
        corrosion protection. Anti corrosive Paints are applied on metallic surfaces. It is also applied on ferrous metal, cast iron and steel 
        surfaces. Anti corrosive paints are used for preservation of structural steel work against acid fumes and adverse weather conditions. 
        It protects the metal components against degradation due to moisture, salt spray, oxidation or exposure to various weather conditions 
        and industrial chemicals.  In houses, they are used for painting steel roof trusses or M.S. railings for staircases, door frames, 
        balconies, window grills, compound gates and so on. Paints are mixed thoroughly before use. It can be applied with a brush, a roller 
        or a sprayer.Anti corrosive Paints are not ready to use. You have to add solvents (white spirit or other benzene) before the 
        application. If you don’t add thinner in the paint, there are chances of appearance of various defects on finished paint walls. 
        Anticorrosive paint is characterized by its chemical resistance, as implied by its name. It is made from linseed oil, zinc chrome and 
        fine sand. Anticorrosive paint has a black color, and it is durable and affordable. It is normally used for metallic surfaces and 
        pipes. Anti corrosion paint is ideally applied to protect solid metal surfaces and, in some occasions, various non-metals by producing 
        a circuitous pathway for water and ions around the lamellar flakes, as well as absorbing oxygen to give aluminum oxides, which block 
        pores in the coating. 13 EXTERIOR Asian Paints Anticorrosive Paint can be used on interior & exterior surfaces. Specifically it can be 
        applied on metal surfaces like grills and gates etc. Also it can be used on wood and prepared masonry surfaces. Zinc Yellow is an 
        Anti-Corrosive Pigment used to manufacture Anti-Corrosive Primer Paint Systems. It is yellow in colour. Primers based on Zinc Yellow 
        are used as first coats in any Anti-Corrosive Painting system. In chemistry, a corrosion inhibitor or anti-corrosive is a chemical 
        compound that, when added to a liquid or gas, decreases the corrosion rate of a material, typically a metal or an alloy, that comes 
        into contact with the fluid. Here, we'll describe the benefits and tradeoffs of four of the most common generic coating types: 
        Epoxies, polyurethanes, polysiloxanes and zinc-rich primers, providing examples of how each might be used in a total coating system. 
    </p>
   </div>
</body>
</html>
