<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Carbon Steel.webp" height="500px" width="1000px" frameborder="0px"> 
    <p> 
        Carbon steel is a steel with carbon content from about 0.05 up to 2.1 percent by weight. The definition of carbon steel from the 
        American Iron and Steel Institute (AISI) states-no minimum content is specified or required for chromium, cobalt, molybdenum, nickel, 
        niobium, titanium, tungsten, vanadium, zirconium, or any other element to be added to obtain a desired alloying effect, the specified 
        minimum for copper does not exceed 0.40%, or the maximum content specified for any of the following elements does not exceed the 
        percentages noted: manganese 1.65%; silicon 0.60%; copper 0.60%. The term carbon steel may also be used in reference to steel which 
        is not stainless steel; in this use carbon steel may include alloy steels. High carbon steel has many different uses such as milling 
        machines, cutting tools (such as chisels) and high strength wires. These applications require a much finer microstructure, which 
        improves the toughness. Carbon steel is a popular metal choice for knife-making due to its high amount of carbon, giving the blade 
        more edge retention. To make the most out of this type of steel it is very important to heat treat it properly. If not, the knife 
        may end up being brittle, or too soft to hold an edge. As the carbon percentage content rises, steel has the ability to become 
        harder and stronger through heat treating; however, it becomes less ductile. Regardless of the heat treatment, a higher carbon 
        content reduces weldability. In carbon steels, the higher carbon content lowers the melting point. Carbon steel is composed of iron 
        and 0.12 - 2.00 percent carbon. The broader definition includes alloy steels, which can also contain up to 10.5 percent alloy content. 
        Even within the confines of under two percentage points of carbon, there is huge variance in physical characteristics—especially 
        hardness. Carbon steel is a special type of steel that, as the name suggests, has a higher concentration of carbon than other types 
        of steel. Most types of steel have a relatively low carbon content of about 0.05% to 0.3%. Also known as “carbon tool steel,” the 
        strongest carbon steel you can buy is also, as expected, the most inflexible. High carbon steel has more carbon than the other two 
        types (between 0.60% and 1.4%), yet it too can accept alloys in order to change its properties.
    </p>
   </div>
</body>
</html>
