<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Carbon Steel Pipe.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        One of the sturdiest and most durable piping materials is carbon steel. As the name suggests, this type of pipe is characterized as 
        having a high level of carbon content. Carbon steel pipes can be further categorized depending on their fabrication — i.e. seamless, 
        ERW, or welded (seamed) pipe.Carbon steel pipes make a great choice for plumbing works and other processes that require the transfer 
        and conveyance of different types of fluids. It can be found in petrochemical plants, scaffolding, boiler systems, sewage, as well as 
        a wide range of industrial uses.These pipes are wholly capable of withstanding extreme temperature and pressure conditions. So if 
        you’re looking to find high-grade carbon steel pipes, make sure that you get them only from Metal Exponents. Our carbon pipes come in 
        a wide range of sizes and dimensions that can suit any construction project and industrial use. Carbon steel pipe is the most commonly 
        and widely used in the gas project field. Its main advantages are: high strength, good toughness, bearing stress, impact resistance and 
        rigor, good plasticity, ease of welding and thermal processing, thin wall thickness, to save metal. Carbon steel pipe is used for 
        liquid, gas, and steam services both above- and belowground services. It is not recommended for use in corrosive services but may be 
        used in caustic services. Its resistance to fire makes it ideal for piping systems and other structures resistant to fires, earthquakes, 
        hurricanes and tornadoes. Pipes made of carbon steel are safe to work with and are invulnerable to eliminating the need for pesticides 
        to treat some other pipes. AISI 1020 steel, a low-carbon mild steel, has a yield strength of 47,900 psi and a tensile strength of 65,300 
        psi. Meanwhile, AISI 1080 steel, a high-carbon steel, has a yield strength of 84,800 psi and a tensile strength of 140,000 psi. 
        High-carbon steel has 0.6–0.99% carbon content and is exceptionally strong, while ultra high carbon steel contains 1.0–2.0% carbon 
        and can be tempered to great hardness. Disadvantages: Low-carbon steels suffer from yield-point runout and mild steel has a relatively 
        low tensile strength. Carbon steels are usually relatively soft and have low strength. They do, however, have high ductility, making 
        them excellent for machining, welding and low cost. Carbon steel pipe is used as the base pipe of bimetallic combination tubing, which 
        has an internal liner made of stainless steel, titanium alloy steel, copper or aluminum, and so on. This type of tubing has high 
        mechanical performance, high corrosion resistance, high weldability, high operational convenience, and high safety. It combines a 
        surface coating technique that has low cost and wide usable range with a corrosion-resisting alloying technique that has complete 
        structure and high tightness (no blowhole) of material; thus, it has high applicability. pipes can be manufactured using several 
        different techniques, each of which produces a pipe with certain characteristics.
    </p>
   </div>
</body>
</html>
