<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Cast Iron Pipe.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Cast iron pipes are arguably one of the oldest kinds of pipes in the market. Because of their toughness and long shelf life, it’s no 
        surprise that many centuries-old waterways and sewage drains in European countries still use these pipes up until today. In fact, a 
        well-installed cast iron pipe system can last for as much as 100 years, provided that it’s also properly maintained. Apart from sewage 
        and drainage systems, you’ll also find cast iron pipes in high-rise or even other low-height and residential spaces. They’re 
        particularly useful for storm drains that can help prevent flooding and reduce water contamination for plumbing systems. Despite their 
        advantages, cast iron pipes are considered to be antiquated — you may not really find these pipe materials commonplace today, since 
        these pipes have a tendency to accumulate corrosion and rusting over time. They are available in 1.5, 1.8 & 2 metre length and 5 & 6 
        mm thickness. Spun pipes are made by pouring molten grey cast iron into a revolving water cooled mould, producing a seamless pipe in 
        length upto 3 metre with thickness less than sand cast pipes Cast iron (grey cast iron) is a historical type of pipe manufactured in 
        the 19th and 20th centuries that is used as pressure pipe for transmission of water and sewage. In the building and construction 
        industry, pipes and fitting materials play an important role in performing the task of conveying fluids. Materials used for 
        manufacturing pipes depend on the type of fluid and the conditions under which they are conveyed. The first cast iron pipes were 
        installed at Versailles in 1664. In the United States, the first cast iron pipes were installed in Philadelphia in the 1810s to replace 
        deteriorated spruce log pipes. There are several parameters employed to characterize the me- chanical properties of cast iron used for 
        water pipes. The most common are tensile strength, rupture modulus, ring bending strength, compression strength, hardness, and 
        fracture toughness. A hubless cast iron soil pipe 4" in diameter can support 4,877 pounds per linear foot without breaking. 
        Furthermore, cast iron pipe is rigid; deflection of the pipe wall is almost nonexistent. High-quality cast iron pipe is approved for 
        plumbing and is still used today. However, about 50 years ago imported steel made its way to the US. The imported steel was not 
        subjected to the same quality standards but became popular due to its lower cost. Deteriorating cast iron pipes develop small cracks 
        that eventually grow into holes and bigger breaks that cannot be patched. One of the most troubling issues associated with these 
        breaks is “black water”— a form of dark, dirty water full of backed-up sewage, bacteria, and fungi. As per the cast iron pipe weight 
        chart a 1 inch NPS with a thickness of 0.133 and a 1.315 outer diameter along with a 1.049 inside diameter will have a cast iron pipe 
        weight of 1.689 per foot. Cast iron often lasts significantly longer than PVC piping when utilized in drainage systems. Cast iron 
        piping can last several decades, if not for a century. There are generally three methods used for joining cast iron soil pipe. Hub 
        and spigot cast iron soil pipe may be joined by the compression gasket or a caulked joint. Hubless cast iron soil pipe are joined by 
        using a hubless coupling. Old cast iron pipes with heavy rust buildup and corrosion will eventually develop hairline cracks, which are 
        also subject to the ravages of time. Eventually, those hairline cracks become wider and longer, until eventually the pipes begin to 
        leak or fail completely. Cast Iron Building Drain Piping: Identification, Diagnosis, Repair. his heavy material is available in 
        diameters from 2" and up, with typical main building drains of 4" to 6" in diameter in residential buildings. 
    </p>
   </div>
</body>
</html>
