<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Concrete Sand.png" height="400px" width="1000px" frameborder="0px"> 
    <p> Concrete Sand is one of the types of sands in India that is made from crushed concrete.It is a common
        component in cement and asphalt mixtures. This sand is crushed in the quarry and filtered to remove the
        large rocks and huge fragments. It is a type of coarse sand that can mixed with cement and water and
        then used as leveling base for layers, patios, and walking paths. When mixed with cement and water, it forms
        a solid mass that is used to fill the voids between the coarse aggregates. It is smaller-grained when compared
        to crushed stone sand and hence can be used to construct softer pavements. However, it is also larger than white
        sand and hence can be used as a filling material too. The size and texture of this sand make it an ideal material
        for a lot of purposes. It provides fundamental stability to a building.Concrete sand is a specific type of 
        sand used as an aggregate in concrete mixtures. Since the surface of concrete sand is coarse, it bonds easier with water, 
        cement, and other aggregates to create strong and durable concrete products. Concrete sand is a type of washed sand that 
        is mined from the ground. From there, the sand is screened and washed to remove fine silt and other contaminants. 
        Concrete sand is mainly used for asphalt and concrete applications and is made into actual concrete by mixing it with cement 
        and water. Concrete Sand, often referred to as sharp sand or grit sand, is typically used in applications that require greater
        strength and solidity, such as concrete mixes, less flexible mortar mixes, and paving and floor screeds. Also known as 'grit sand' 
        or 'concrete sand', sharp sand is coarser than builders sand thanks to its larger particles. Having a larger grain size means sharp
        sand is slightly heavier, giving the mortar more strength yet making it less flexible to work with.Also called paver sand, Concrete
        Sand is most commonly used as a key ingredient in cement or hot asphalt. Concrete sand can also be used as pipe sand or as a base
        layer and leveling medium for above ground pools, patios or walkways made of concrete paving stones. This is the best sand for
        concrete. It is a good choice for improving drainage in soil or installing a new septic system. Use it to improve drainage of
        clay soil by adding a 1 inch layer to the surface and working it in to a depth of at least 6 inches. Concrete sand is a label that
        is typically used to describe the coarse washed sand that is a common ingredient in cement and asphalt mixtures. Its grains are larger
        than those of masonry sand, but a processing and screening process ensures that there are no large rocks or pebbles present.
    </p>
   </div>
</body>
</html>

