<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Concrete Pipe.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Another economical pipe is the concrete pipe that’s been manufactured by crushing aggregates. Despite this, they may be more difficult 
        to install compared to the other pipes on the list. This type of pipe tends to be heavy and cumbersome — transporting them from one 
        site to another needs to be done carefully.However, concrete pipes are extremely flexible and versatile despite their rigidity. Once 
        again, they’re suitable for use in drainage and sewage systems, and more commonly as culverts. These pipes are also reinforced with 
        other materials like steel to make it stronger and protected against environmental damage.Concrete pipes are pipes made from concrete. 
        They provide various advantages including, easy installation, superior corrosion resistance, highly durable, environmentally friendly, 
        sustainable, custom-designed fittings, high strength, and low maintenance costs. Concrete pipe is a rigid pipe that provides both 
        structure and conduit when it arrives on site. Unlike flexible alternatives, concrete pipe has little dependence on the surrounding 
        soil for its structural performance Concrete pipe is known as a rigid pipe that provides both structure and conduit when it arrives on 
        site. Flexible pipe systems such as high density polyethylene (HDPE) and polyvinyl chloride (PVC) drainage systems, provide conduit 
        only. Backfill must be properly engineered and applied to provide structure. Utilities—we don’t always think about what runs beneath 
        our feet, diverting water and sewer systems. But the use of proper storm sewers and culverts is essential to keep our cities 
        functioning, clean, and safe. Whether handling amounts of waste, accommodating sudden onsets of water runoff and flooding, or carrying 
        water into agricultural sectors to irrigate crops, utilities are the veins beneath a city’s concrete surface. Steel reinforced 
        concrete pipe is a material unlike most other concrete products. It has a unique history, is made using specialised processes, and 
        results in a material that provides strength, durability and sustainability. The topics below will give you plenty of detailed steel 
        reinforced concrete pipe information. Concrete pipe has a long history of excellent performance as a durable product for stormwater 
        drainage and sewer applications throughout the world. In Australia, concrete pipes have been manufactured for over 100 years, and 
        there are pipes still in service that were made over 90 years ago.Today, new technology is making concrete pipe more reliable than it 
        has ever been before. Decades of research and development of many aspects of concrete pipe has enabled concrete pipe producers to 
        implement concrete mixes and pipe design to provide products that can withstand a complete range of underground environments and 
        effluent profiles.This, combined with the application of a sound asset management approach to public infrastructure reinforces the 
        choice of concrete pipe for sustainable stormwater drainage systems. A drainage pipeline built today with low-maintenance steel 
        reinforced concrete pipe would last for over 100 years, if the system is planned and designed with full knowledge of existing and 
        future effluent characteristics and loading. When projects are designed with life cycle costs in mind, concrete pipe is a product that 
        easily falls within the accepted general notion of sustainability by meeting the needs of the present generation, without compromising 
        the needs of future generations.Installation practice, according to standards and accepted codes of practice, are proving to be able 
        to reduce the installation costs of construction projects significantly. 
    </p>
   </div>
</body>
</html>
