<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Concrete Brick.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p> 
        Typically used in internal brickwork or to make facades and fences, these bricks are made from solid concrete. The concrete is poured 
        into custom molds, allowing manufacturers to create a variety of sizes and shapes. Many people may find these bricks at a local 
        hardware store or masonry supplier. Pros can make these concrete bricks at the worksite with a standard mix of one part cement, two 
        parts sand, and four pssarts aggregates. Choose an increased strength of concrete bricks if they will be used for foundations with 
        an adjusted formula of one part cement, three parts sand, and six parts aggregates. The Concrete sand is best for Commonly used for 
        facades, internal brickworks, and outdoor walls, concrete bricks can be manufactured on construction sites by professional masons, 
        saving shipping time and costs for large construction projects. Concrete bricks are made from solid concrete poured into molds. 
        They are traditionally used in internal brickwork but are more frequently used in exterior work, such as facades and fences, to 
        provide a modern or urban aesthetic. Concrete bricks can be manufactured in different colors if pigments are added during production.
        Due to their durability, concrete bricks can be used in almost any construction except underground since they tend to be porous.
        A Concrete Block is a ‘Building Block’ composed entirely of concrete that is then mortared together to make an imposing, long-lasting 
        construction. These construction blocks can be ‘Hollow’ or ‘Solid,’ formed of ordinary or lightweight concrete in various specified 
        sizes, depending on the precise requirements. Concrete blocks come in various shapes and sizes, and they can be solid or hollow. 
        39cm x 19cm x (30cm or 20 cm or 10cm) or 2 inch, 4 inch, 6 inch, 8 inch, 10 inch, and 12-inch unit configurations are the most popular 
        concrete block sizes. Concrete blocks are made from cement, aggregate, and water. In concrete blocks, the cement-aggregate ratio is 
        1:6. There are two types of concrete blocks. They are Solid Concrete Blocks and the Hollow Concrete Blocks. Solid concrete blocks, 
        which are highly heavyweight and formed by aggregate, are primarily utilized in construction projects. They’re sturdy and give 
        structures a lot of solidities. These solid blocks are ideal for large-scale projects such as force-bearing walls. They’re compared 
        to bricks that come in big sizes. As a result, constructing concrete masonry takes less time than brick masonry. Concrete stretcher 
        blocks are also employed at the masonry’s corners. Concrete stretcher blocks commonly use hollow concrete blocks. The parallel length 
        of concrete stretcher blocks is put parallel to the face.
    </p>
   </div>
</body>
</html>
