<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Enamel Paint.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Enamel paints form hard and glossy coatings, which are easily cleaned. They are characterized by being waterproof and chemically 
        resistant, offering good coverage and color retention. The following are some common uses of enamel paint: Interior and exterior walls. 
        Enamel paint is mostly used for painting the exterior walls of the house while acrylic paint is used to paint the interior of the house. 
        Enamel paint finish takes a comparatively longer period to dry than acrylic paint. Enamel paint is an oil-based paint finish while 
        acrylic paint is a water-based paint. Enamel paint for walls is best used in outdoor areas subjected to extreme weather and 
        temperature changes. They're also beneficial indoors in locations that get a lot of use. Surfaces painted with enamel paints are easy 
        to clean, stain, and damage-resistant due to their rich and high gloss finish. There are three main types of paints: Watercolor, 
        Acrylics, and Oils. These paints all have different methods and have different techniques for you to master. Are enamel paints 
        waterproof? Enamel paints that are oil- or lacquer-based are waterproof, making them great for outdoor surfaces. But water-based 
        enamel paints are not waterproof, so double-check the paint can before painting your patio furniture. Glossing floors: Lots of 
        homeowners apply enamel paint to the floors of their home garages. The paint sticks well to the concrete, giving it a high-gloss 
        finish, and can help you clean up drips from your car more easily. Once hardened, enamel paint can last for many years. It's resistant 
        to mildew and can be washed if it gets stained. This makes it an ideal choice for areas of the home that are prone to dirt and stains, 
        such as the bedroom, kitchen and living room. Clear Enamel Spray Paint is a transparent finish that provides extra protection against 
        rust, corrosion, tarnishing and chipping. This paint has a non-yellowing formula to provide a crystal-clear look to suit your painting 
        needs. Featuring a gloss finish, this paint is ideal for use on metal, wood and concrete. Does Paint Go Bad? Yes, all types of paint 
        go bad eventually. A previously opened can of paint lasts 5 years on average if properly sealed and stored. Flat, eggshell and satin 
        paint are best for interior walls, whereas semi-gloss and gloss paint are best for trim and woodwork. Acrylic paint is more resistant 
        to ultraviolet (UV) rays due to the water base, making it ideal for glass or paint exterior walls These paints have no additives that 
        give them strength and you will be wasting time and money using these paints for a floor. 
    </p>
   </div>
</body>
</html>
