<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Engineering bricks.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p> 
        As the name suggests, engineering bricks are a favorite of structural engineers because of their high compressive strength and density,
        ideal qualities for use as load-bearing materials. Engineering bricks also have a low absorption capacity, meaning that they cannot 
        absorb a significant amount of moisture, which helps to ensure that the bricks don’t crack, crumble, or leak. The low porosity has the
        added benefit of making these bricks more resistant to chemicals that might otherwise seep into masonry materials, corroding them from
        the inside. Due to their impressive strength, density, chemical resistance, and water resistance, these bricks are used regularly to 
        make basement foundations, sewers, manholes, and retaining walls. Engineering bricks are used primarily in civil projects where 
        strength and resilience against the elements are essential. They are clay-based and can be mixed with many other materials.What sets 
        engineering bricks apart from other types is their extreme durability: They are fired at excessively high temperatures to produce a 
        brick as hard as iron. They also have very low porosity and are used in places like sewers, retaining walls, manholes, foundational 
        work, and underground tunnels, where resistance to water and frost is crucial.5 They come in two classes, A and B, with A offering 
        higher compression strength and lower water absorption for the toughest conditions. Engineering bricks are specifically made to 
        exhibit both high compressive strength and low porosity. They are often used in construction where the overall strength of the 
        material, as well as its resistance to water and frost, are important considerations. Engineering bricks are a type of brick used 
        where strength, low water porosity, or acid resistance are needed. Engineering bricks can be used for damp-proof courses. 
        Traditionally, Engineering bricks are used where in construction where strength and resistance to water and frost attack are 
        important. Some common application examples are: retaining walls, damp proof courses, manholes, sewers and general ground works.
        In short, bricks and mortar aren't 100% waterproof. Even modern homes that are built with cavity walls and largely impermeable 
        materials can still be affected by penetrating damp (water coming in from outside). Damp and excess moisture within brick and s
        tonework can lead to internal damage and the dreaded black mould. Among other things, engineering bricks are used for building 
        foundations and providing structural support. The advantages of Engineering Brick is Economical, Hard and Durable, Compressive strength
        is good enough for ordinary construction, Different orientations and sizes give different surface textures and very low maintenance cost
        is required. The Engineering Sand is best for With their high compressive strength, low porosity, and resistance to chemical and 
        water damage, engineering bricks are ideal for use in basements.
    </p>
   </div>
</body>
</html>
