<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Fill Sand.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        The Fill sand is a types of sand used in construction, mainly for filling. It is a combination of many grains of sand and aggregates.
        It consists of very fine rock particles that have been broken down and undergone erosion. It can be primarily used as a base material
        for laying concrete, paving, and filling large holes. Its properties of excellent compaction make it the perfect base material for
        several purposes during the construction of a building. It provides a lot of advantages when used in wet areas to fix drainage problems
        by serving as a backfill around septic tanks. While choosing the types of sand used in construction of a building, it is essential
        to consider certain factors. The sand should contain less than 3% silt content, it should be free from organic materials and it
        should not contain any kind of impurities. Moreover, each type of sand provides different properties which should be analyzed well
        before using them for construction purposes. Listed above are a few of the best types of sand used in the construction of buildings.
        Choose the right construction sands to build strong! So how did you find our blog, do drop in a comment below!
        Fill sand is a common material used in both residential and commercial construction projects. Just as its name suggests, it's a 
        substance comprised of excellent particles of rock. These particles may have broken down into sand naturally over time or may have 
        been run through crushing machines several times. Fill dirt is one of the most affordable materials for construction and landscaping
        that is available on the market. The Fill sand is a types of sand used in construction, mainly for filling. It is a combination of many
        grains of sand and aggregates. It consists of very fine rock particles that have been broken down and undergone erosion. Fill sand is 
        perfect for just that—fill. This aggregate is often a mix of different sands. It's not processed, which means it can be clumpy, but it
        does compact well, which makes it great for those areas you need to build up. 
    </p>
   </div>
</body>
</html>
