<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Fire Brick.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p> 
        If the goal of the masonry project is to create a structure, wall, or framework that is highly resistant to heat and fire, then 
        firebricks are the best material. These bricks are also known as refractory bricks and are made with a special type of clay known 
        as fireclay, which mostly contains silica and alumina. As a result, firebricks can withstand temperatures greater than 3,000 degrees.
        Firebricks don’t just resist flames; they can also hold up to low temperatures and rapid changes between hot and cold temperatures. 
        As expected, these bricks typically go into making furnaces, chimneys, fireplaces, brick grills, fire pits, wood-fired ovens, and 
        other high-heat applications. The Fire Brick is best for Commonly used to line chimneys, build brick grills, or make fire pits, 
        firebricks have an extremely high resistance to heat and fire, ensuring that they won’t crack, chip, or break from heat stress.
        A fire brick, firebrick, or refractory is a block of ceramic material used in lining furnaces, kilns, fireboxes, and fireplaces. 
        A refractory brick is built primarily to withstand high temperature, but will also usually have a low thermal conductivity for greater 
        energy efficiency. Usually dense firebricks are used in applications with extreme mechanical, chemical, or thermal stresses, such as the 
        inside of a wood-fired kiln or a furnace, which is subject to abrasion from wood, fluxing from ash or slag, and high temperatures. In 
        other, less harsh situations, such as in an electric- or natural gas-fired kiln, more porous bricks, commonly known as "kiln bricks", 
        are a better choice. They are weaker, but they are much lighter and easier to form and insulate far better than dense bricks. In any 
        case, firebricks should not spall, and their strength should hold up well during rapid temperature changes. A fire brick is a block of 
        refractory ceramic material used in lining furnaces, kilns, fireboxes, and fireplaces. A refractory brick is designed mainly to 
        withstand high heat, but should also usually have a low thermal conductivity to save energy. Water is the enemy of firebrick. Wet fire 
        brick will crumble when fired, can be soaked and dried repeatedly as long as it is bone dry when fired up. If you cover the brick with 
        a tarp, it can hold in moisture. This might not be enough to soak the brick, but it can allow mold and mildew to grow.
    </p>
   </div>
</body>
</html>
