<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Galvanized Steel Pipe.webp" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Steel pipes are also sometimes reinforced through a method called galvanization. Through this technique, the steel’s surface is imbued 
        with anti-rust and anti-corrosion properties. This makes the steel last longer and become more durable over time. Although different 
        galvanization techniques exist, hot-dip galvanization is the most common method used for steel pipes. The material first has to 
        undergo surface preparation before it’s submerged in a hot bath of molten zinc — around 500 degrees Celsius in temperature. Once the 
        galvanized steel pipe has been fit for distributing and marketing, it can now be used across a variety of construction applications, 
        like fencing, residential water supplies, railing, drainage systems, bollards, and even scaffolding. Although the cost of procurement 
        for these pipes may be expensive, they’re cost-effective in the long run, as you’ll be able to minimize expenses on maintenance and 
        replacement. Galvanized pipe has been used as a water supply line material in homes and businesses for more than 30 years. It's also 
        a suitable material for sewer plumbing. Galvanized pipe has many other uses besides water and sewer lines, including fences, railings, 
        scaffolding, and farm irrigation systems. In the building and construction industry, pipes and fitting materials play an important 
        role in performing the task of conveying fluids. Materials used for manufacturing pipes depend on the type of fluid and the conditions 
        under which they are conveyed. PVC pipe is by far the most commonly used pipe in residential homes. This type of pipe is affordable 
        and available in a number of different fittings and sizes. Galvanized coating is designed to prevent corrosion and rust. It is also 
        manufactured to keep other minerals, such as calcium, from building up on the pipes or bollards. It can last for years depending on 
        the quality of the coating and the application. The mechanical properties of this type of pipe varies according to the method of 
        manufacturing. However, the typical yield strength is around 30,000 psi. Galvanized steel pipe is a steel pipe that has been coated 
        with zinc. This coating protects the steel from corrosion. It is most commonly used for outdoor construction like fences and handrails, 
        or for some interior plumbing. It is also sometimes called galvanized iron pipe. 6 types of pipes most commonly used in building 
        construction. In any building construction piping systems are designed to serve the following primary purposes. A key benefit of 
        using Hot Dip Galvanizing is its durability. Data shows that galvanizing can provide between 34 to 170 years of protection for steel. 
        Oxygen and other minerals in the soil attached themselves to the pipe. Over time, the oxygen will cause the zinc coating to rust. 
        Eventually, the oxygen will rust the iron or steel as well. Galvanized pipe rusting inside is caused by high levels of oxygen in the 
        water. Galvanized steel will eventually start to corrode and can pose a hazard for drinking water, which makes it unsafe for drinking 
        water in the long run. The problem isn't the zinc coating but lead and cadmium, two heavy metals that can exist in the zinc because 
        of the galvanizing process. Galvanized steel takes a long time to rust, but it will eventually rust. This type is carbon steel that 
        has been galvanized or coated with a thin layer of zinc. The zinc acts as a barrier preventing oxygen and water from reaching the 
       steel, providing advanced corrosion protection. By coating iron and steel in a protective layer of zinc, pipes had a buffer zone 
       against the elements. Starting around 1960, these galvanized pipes became the staple in homes all around the world. 
    </p>
   </div>
</body>
</html>
