<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Glass Wool.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>
        Glass wool can be a loose-fill material, blown into attics, or together with an active binder, sprayed on the underside of structures, 
        sheets, and panels that can be used to insulate flat surfaces such as cavity wall insulation, ceiling tiles, curtain walls, and ducting.
        Glass wool is an insulating material made from glass fibres. These fibres are arranged using a binder into a texture similar to wool. 
        This process traps small pockets of air between the glass, which give the final product its superior thermal insulation properties.
        Applications of Glass Wool InsulationGlass wool applications include structural insulation, pipe insulation, filtration and 
        soundproofing. These are manufactured to insulate products and applied in multiple areas of buildings. Moreover, Glass wool is the 
        most common source of insulation in ceilings of residential buildings, and also has the following applications:Characteristics of 
        Glass Wool-It is fire-resistant till 300°C.It has excellent tensile strength.It is used as hollow walls and drywall insulation.
        Additionally, it is also used for roof insulation in auditoriums and suspended ceilings.It prevents heat loss, especially in HVAC 
        ducting systems.It is an excellent sound insulator and used as acoustic barrier in partitions hat prevent sound transmission.Its 
        products are non-combustible and positioned for operating temperatures up to 300°C.It is made up of 80% recyclable materials.It is 
        lightweight and easy to install.It does not promote mould growth or vermin infestation.It possesses no health hazards.It is 
        non-corrosive to metal.Summing up, glass wool is an insulating material having varied applications in homes as a part of roofs, false 
        ceilings, drywalls, home theatres, etc. It is widely used for its known benefits in insulation, fire safety and ease of installation. 
        It is used as hollow walls and drywall insulation. Additionally, it is also used for roof insulation in auditoriums and suspended 
        ceilings. It prevents heat loss, especially in HVAC ducting systems. It is an excellent sound insulator and used as acoustic barrier 
        in partitions that prevent sound transmission Glass wool can be a loose-fill material, blown into attics, or together with an active 
        binder, sprayed on the underside of structures, sheets, and panels that can be used to insulate flat surfaces such as cavity wall 
        insulation, ceiling tiles, curtain walls, and ducting. Glass wool is an insulating material made from glass fibres. These fibres are 
        arranged using a binder into a texture similar to wool. This process traps small pockets of air between the glass, which give the 
        final product its superior thermal insulation properties. Glass wool is an insulating material made from fibres of glass arranged 
        using a binder into a texture similar to wool. The process traps many small pockets of air between the glass, and these small air 
        pockets result in high thermal insulation properties. Glass wool is produced in rolls or in slabs, with different thermal and 
        mechanical properties. It may also be produced as a material that can be sprayed or applied in place, on the surface to be insulated. 
        The modern method for producing glass wool was invented by Games Slayter while he was working at the Owens-Illinois Glass Co. (Toledo, 
        Ohio). He first applied for a patent for a new process to make glass wool in 1933.] Natural sand and recycled glass are mixed and 
        heated to 1,450 °C, to produce glass. The fiberglass is usually produced by a method similar to making cotton candy, by forcing it 
        through a fine mesh by centrifugal force, cooling on contact with the air. 
    </p>
   </div>
</body>
</html>
