<!DOCTYPE html>
<html>
    <head>
        <h1>Builder's Management</h1>
        <link rel="stylesheet" href="/Css/style4.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="menu-bar">
        <ul>
            <li><a href="/Home" onclick="Home();"><i class="fa fa-home" aria-hidden="true"></i><b>Home</b></a></li>
            <li><a href="#"><i class="fa-solid fa-paintbrush"></i><b>Design</b></a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="/Design"><b>Feedback By Our Clients</b></a></li>
                    </ul>
                </div>
            </li>
            <li><i class="fa fa-building" aria-hidden="true"></i><b>Requirements</b>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="/Brick"><b>Brick</b></a></li>
                        <li><a href="/Cement"><b>Cement</b></a></li>
                        <li><a href="/Glass"><b>Glass</b></a></li>
                        <li><a href="/Paint"><b>Paint</b></a></li>
                        <li><a href="/Pipes"><b>Pipes</b></a></li> 
                        <li><a href="/Sand"><b>Sand</b></a></li>
                        <li><a href="/Steel"><b>Steel</b></a></li>
                        <li><a href="/Wood"><b>Wood</b></a></li>
                    </ul>
                </div>
            </li>
            <li><i class="fa-solid fa-handshake" aria-hidden="true"></i><b>Professionals</b>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#"><b>Architect</b></a></li>
                        <li><a href="#"><b>Contractor</b></a></li>
                        <li><a href="#"><b>Find A Repair Man</b></a></li>
                        <li><a href="#"><b>Furniture Showroom</b></a></li>
                        <li><a href="#"><b>House Cleaning</b></a></li>
                        <li><a href="#"><b>Interior Design</b></a></li>
                        <li><a href="#"><b>Matreial Manufacturer</b></a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><b>About</b></a></li>
            <div>
                <a id="login" href="/"><b> Login</b></a>
            </div>
            <div>
                <a id="logout" href="#"><b> Logout</b></a>
            </div>
        </ul>
        </div>
        <image>
            <img class="img" src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070__340.jpg" height="170%" width="60%">
        </image>
        <script>
            function Home(){
                alert("You are in Home Page");
            }
        </script>
    </body>
</html>

