<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Laminated Glass.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>
        Laminated glass (sometimes called toughened laminated glass) comprises two or more layers of glass sandwiched together with 
        tear-resistant plastic film interlayers (usually polyvinyl butyral (PVB) or ethylene-vinyl acetate (EVA). The aim is to create a glass 
        composite which can absorb the energy of a person or object that strikes it, preventing penetration of the pane and potential injuries 
        that might result from flying fragments of broken glass.An additional benefit of laminated glass is that most ultraviolet radiation 
        can be blocked by the PVB or EVA interlayer. Thermoset EVA layers can block up to 99.9% of UV raysLaminated glass can be used for 
        safety or security reasons. It is used for architectural applications where for example, the glass could fall from a height and 
        shatter, In addition to flat sheets, it can be supplied in curved sections, as may be required for car windscreens.Bonding together 
        the alternating layers of, typically annealed glass, and plastic film is usually achieved through the use of heat and pressure created 
        by an autoclave. Manufacture can involve using heat-strengthened glass, which, when it breaks, does so into large pieces held in the 
        frame by the PVB inter-layer. Or it can be made from tempered glass, where the sheet may fall out of the frame but will mostly stay 
        together due to the interlayer.Digital printing for special effects can be created by printing on to the glass prior to laminating or 
        printing onto the interlayer.Laminated glass is available in various thicknesses and configurations. A typical glass-layers 
        configuration can comprise 2.5mm glass – 0.38mm interlayer – 2.5mm glass, resulting in ‘5.38 laminated glass’.Thicker glass and 
        multiple laminates giver a stronger product. Thicker configurations such as double– or triple-laminate with interlayers (int) can 
        include the following. Laminated glass is also used in car windshields as it will provide maximum protection in the face of an 
        accident. It can also be used as a structural glass and used in the construction of glass railings, glass floors, skylights, roofs, 
        sunspaces, curtain walls, glass facades, etc. When used as a construction material, glass is employed as a transparent glazing element 
        in the building envelope. This includes windows in external walls and internal partitions. Laminated glass is made by pasting PVB 
        (polyvinyl butyral) resin glue film between two or more pieces of glass sheet, then heating, pressing and bonding them together to 
        create flat or curved compound glass product. Laminated glass is a layered type of glass with a laminated sheet resting between 2 
        layers of glass. This laminated sheet is usually made of polyvinyl butyral or PVB and acts as a sort of adhesive to reduce danger 
        in case the glass gets broken Laminated glass is a layered type of glass with a laminated sheet resting between 2 layers of glass. 
        This laminated sheet is usually made of polyvinyl butyral or PVB and acts as a sort of adhesive to reduce danger in case the glass 
        gets broken Laminated glass is a material of choice among various industries due to the following key properties: Increased safety 
        factor compared to standard float glass. 
    </p>
   </div>
</body>
</html>
