<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/P-Sand.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>
        The full form of P sand is Plastering Manufactured Sand which is also known as crushed sand or manufactured fine aggregate. This type
        of sand is used in construction greatly. They are a very fine grade of sand used mainly for plastering and creating renders. They give
        a very smooth finish to the plasters. P sand is good for plastering walls and brickwork purposes whereas M sand is used for concrete 
        or mortar mix P sand is regarded to be better than M sand. They are used for different purposes yet P sand is better than the other. 
        This is also known as crushed sand or manufactured fine aggregate. This type of sand is used in construction greatly. They are a very 
        fine grade of sand used mainly for plastering and creating renders. They give a very smooth finish to the plasters. This product is 
        used for plastering and creating renders both internally and externally. Thanks to its fine particles, this Plastering Sand creates a 
        very smooth and even finish to your plastering. It can also be used for pavement jointing to fill cracks of artistic paving. 
        Plastering M Sand is produced from hard granite stone which is cubically in shape with round edges washed and graded with consistency.
        This product is used for plastering and creating renders both internally and externally. Thanks to its fine particles, this Plastering 
        Sand creates a very smooth and even finish to your plastering. It can also be used for pavement jointing to fill cracks of artistic 
        paving. P-Sand with IS specifications(IS CODE 1542 – 1992 Zone IV standards). This is an artificial type of sand formed by crushing 
        large hard stones, mainly rocks or granite. It is used as a substitute of river sand mainly for creating concrete or mortar mix. 
        These are the main definitions of what is P sand. This product is used for plastering and creating renders both internally and 
        externally. Thanks to its fine particles, this Plastering Sand creates a very smooth and even finish to your plastering. It can also 
        be used for pavement jointing to fill cracks of artistic paving. Advantages of the plastering sand is free of silt and clay particles and 
        has denser particle packing than natural sand. It also offers higher flexural strength, better abrasion resistance, higher unit weight, 
        and lower permeability. The full form of P sand is Plastering Manufactured Sand which is also known as crushed sand or manufactured 
        fine aggregate. This type of sand is used in construction greatly. They are a very fine grade of sand used mainly for plastering and 
        creating renders. They give a very smooth finish to the plasters. 
    </p>
   </div>
</body>
</html>