<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Pine Wood.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>
        Radiata pine can be used in a wide range of applications, including as a domestic and commercial structural timber, flooring, lining, 
        furniture, panels (such as veneer, plywood, particleboard, fibreboard), corestock, brushware, turnery, toys, poles, posts, sleepers, 
        mining timbers (treated), landscaping, pulp and paper . Pine is a coniferous wood that can be found in a variety of locations in the 
        Northern Hemisphere. It is one of the most popular woods used in manufacturing and carpentry and can be found in many homes around the 
        world in the form of flooring, windows, furniture and so on.There are more than 126 classified species of pine, under the Pinus genus.
        Pine trees are distributed throughout the Northern Hemisphere and can be found in northern, eastern and central Europe, as well as 
        America, Mexico and mid and southern Canada.In Germany, pine trees occupy the second highest proportion of wooded areas, with only 
        spruce commanding more space.Many of these regions host native species of pine tree, with some species only being found in one 
        particular area. For example, Sumatran pine can be found crossing the equator, whereas many Canadian pine species can be found around 
        east of the Rocky Mountains, Mackenzie River, and Cape Breton Island in Nova Scotia. Pine trees can reach up to 260 ft in height and 
        can live for up to 1,000 years, with some species exceeding even that. The Pinus Longaeva or Great Basin bristlecone pine is one of the 
        longest living pines in the world. A tree of this species can be found in the White Mountains of California, that is estimated to be 
        over 4,900 years old.The bark of a pine tree is usually quite thick and dense, but there are some species which have thinner, flakier 
        bark.All pines appear to grow successfully in soil which is primarily acidic, with some thriving on calcium-rich soils, too. They 
        require exceptional drainage, and some even flourish after forest fires, requiring the fire to rejuvenate their seedlings. There are 
        also some species of pine, such as mountain pine and bristlecone pine which thrive in higher altitudes, which is why it is often 
        possible to see pine trees lining mountainsides. As an extremely popular choice of material for many carpenters around the world, 
        there are a variety of ways in which pine wood is used.Paper is often made using the pulp of the pine tree, and it is also widely 
        used in carpentry for furniture due to its fine, smooth grain. The knots which are produced in pine wood are usually small and neat, 
        and make a beautiful addition to the wood; they are chosen to give the furniture a clean, rustic look.Although it is classed as a 
        soft wood, pine is one of the strongest softwoods on the planet, with many carpenters and manufacturers preferring to use it over 
        the softer spruce for creating furniture. Pine is a coniferous wood that can be found in a variety of locations in the Northern 
        Hemisphere. It is one of the most popular woods used in manufacturing and carpentry and can be found in many homes around the world 
        in the form of flooring, windows, furniture and so on. Eastern White Pine trees are one of the most widely used wood sources for 
        construction across the United States, and with good reason. White Pine is versatile, durable, easy to source, and reasonably priced.
    </p>
   </div>
</body>
</html>
