<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/PVC Pipe.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Like many of the pipes on this list, PVC pipes are great for applications that require fluid transmission. Aside from this, they’re 
        also lightweight, flexible, and versatile in design. They can easily be modified in order to accommodate different pipe fittings that 
        may be needed. You’ll often spot PVC pipes in electrical wiring systems, specifically as electrical conduit pipes. They provide a 
        watertight and waterproof housing for electrical wires that may be exposed to external elements like high/low heat, pressure, and 
        debris, but they also have their disadvantages. To give an example: Their structuring can be easily warped and distorted in high-
        temperature environments, which can be difficult to avoid at times. PVC is the most used plastic material for building and 
        construction products such as pipes, cables, window profiles, flooring and roofing. PVC makes a major contribution to the quality, 
        safety and cost-effectiveness of construction materials, as well as contributing to lower environmental impacts of completed projects. 
        PVC pipes are commonly used for manufacturing sewage pipes, water mains and irrigation. Possessing very long-lasting properties, PVC 
        pipes are easy to install, lightweight, strong, durable and easily recyclable, making them cost-efficient and sustainable. PVC or 
        polyvinyl chloride is one of the most versatile choices for various applications in many areas, including construction industry. PVC 
        pipes are inherently strong, lightweight, flexible, easy to handle and economic. Along with all these qualities, their long-lifespan 
        and recyclability make them the prime economic option for residential as well as commercial building construction projects.Are you 
        looking for the perfect plumbing and wiring materials for indoor or outdoor applications in your construction project? Let’s help you 
        know more about PVC pipes and their benefits in construction industry-Benefits of PVC pipes in construction..Strength: PVC pipes are 
        strong and hardy pipes. Along with good mechanical strength they have high abrasion resistance. Forget worries about damages during 
        transport and installation with PVC pipes.Lightweight: It’s one of the biggest advantages of PVC pipes compared to alternative 
        materials used for piping. Less weight means lower cost of transportation and lower labour charges. At the same time, the work goes 
        faster as a single person can handle a large piece of pipe easily.Variety of sizes: Renowned brands like Ori-Plast are manufacturing 
        PVC pipes in a wide range of diameters and sizes to meet every construction needs. Are you looking for indoor sink drain lines or as 
        outdoor garden hose pipe or a bigger dimension for other plumbing or wiring needs? Ori-Plast PVC pipes has it covered along with their 
        compatible fittings.Leak-proof joints: When you use Ori-Plast ‘sure tight’ solvent cement along with their PVC pipes and fittings, you 
        get completely leak-proof settings without any hassles at all. Flexibility: Ori-Plast presents pipes for every domestic requirement 
        that have superior resistance to fracture. Need an outdoor pipe for external installation or concealed wiring? Check out Ori-Plast 
        uPVC pipes (Unplasticized Polyvinyl Chloride). Need pipes to carry hot/cold water? Try Ori-Plastc PVC pipes (Chlorinated Polyvinyl 
        Chloride). Looking for piping solutions for underground applications where soil movement of vibrations are anticipated? Enjoy the 
        advantage of Ori-Plast PVC-O pipes that can deliver excellent performance even under up-to 25 bars pressure. PVC is a versatile 
        material that offers many possible applications, these include; window frames, drainage pipe, water service pipe, medical devices, 
        blood storage bags, cable and wire insulation, resilient flooring, roofing membranes, stationary, automotive interiors and seat 
        coverings, fashion and footwear, packaging ... 
    </p>
   </div>
</body>
</html>
