<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/QUICK Setting Cement.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>
        QUICK setting cement is a binding material with properties similar to the traditional Portland cement. Its main attribute is its fast 
        setting time, which can harden in a time ranging between 20 to 40 minutes. Unlike traditional Portland Cement, fast-setting cement 
        doesn’t lose strength nor is it negatively affected by its fast hardening in any way. What’s more, its mixture is capable of achieving 
        high mechanical resistance in a short period.That being said, quick-setting cement must be treated under special conditions to obtain 
        the desired results, as soon as its prepared, its hardening process begins. These are the main characteristics of a quick-setting 
        cement: Fast-setting cement hardening process begins approximately 5 minutes after it has been prepared, so it’s recommended to 
        prepare the surface on which it’s going to be applied beforehand. Although it reaches its final mechanical resistance after 28 days, 
        it can harden consistently in the first 20 minutes. It is easy to adhere to materials such as wood, brick, concrete, metals, and 
        plastic. Fast-setting cement, when prepared and applied correctly, can optimally withstand weather conditions. It tends to have 
        yellowish or brown colouring. Quick Setting Cement (QSC) is a special cement formulation which rapidly develops compressive strength 
        and significantly reduces waiting on cement (WOC) time compared to conventional cement systems. It is used in under water construction.
        It is also used in rainy & cold weather conditions. Where, quick strength is needed in short span of time. Used higher temperature 
        where water evaporates easily. An amazing concrete that gains high early strength without affecting normal placement procedures. 
        Infused with special ad mixtures, UltraTech Rapid can be customized to deliver workable strength in as less as 6 hours. Quick Set 
        Compound is specially formulated to provide excellent joint strength, even in poor drying conditions. It permits heavy fills and 
        faster joint finishing with low shrinkage. Quick Set Compound is compatible with all types of gypsum board and may be used where a 
        shortened joint finishing schedule is desired.
    </p>
   </div>
</body>
</html>