<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Rapid Hardening Cement.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>  
        Rapid hardening Cement is a kind of cement which achieves strength very fast. The Strength achieved by Rapid hardening cement in 3 days
        is equivalent to the strength achieved by Ordinary Portland cement in 7 days. The hardening properties of cement are enhanced with the
        addition of 56% of tricalcium silicate. The improved early strength is achieved by the fineness of the cement. The manufacture of 
        rapid hardening cement is done dry process of cement manufacture. In this cement, lime stone and shale are used as raw material and 
        heated at extremely high temperature to form clinkers. The lime and shale clinker is then mixed with small amount of gypsum and 
        grinded very finely to form rapid hardening cement. All the difference of rapid hardening cement to that of ordinary portland cement 
        is the quantity of lime stone (tri-calcium silicate )used as raw material, which gives the high early strength to the cement. The 
        Properties of Rapid Hardening Cement- It gains strength faster than OPC. In 3 days it develops 7 days strength of OPC with same water 
        cement ratio,  Its final setting times is 30 mins and final setting time is 600mins which is same as OPC, It emits more heat during 
        setting, therefore this cement is unsuitable for mass concreting,  Soundness of this cement is, Autoclave - 0.8 %, Le - Chatlier's - 
        10mm,  The specific surface of rapid hardening cement is greater than 3250 cm2/gm,  This cement is lighter and costlier than OPC. Its 
        short curing period makes it economical,  This cement should be stored in a dry place, or else its quality deteriorates due to 
        premature carbonation and hydration. The Advantages of Rapid Hardening Cement - It requires a short period of curing,  It is resistant 
        to sulphate attacks,  Shrinkage is reduced during curing and hardening of cement.  Rapid hardening cement is used in areas like road 
        pavements so that the traffic can be opened early. It is also used in manufacturing precast slabs, posts, electric poles, concreting 
        in cold countries. Rapid Hardening Portland Cement (RHPC) is a special purpose cement used in concrete to achieve a higher rate of 
        early strength development, compared to using Normal Cement. The improved early performance of RHPC is achieved principally through 
        increased product fineness. Rapid hardening cement is used in areas like road pavements so that the traffic can be opened early. It 
        is also used in manufacturing precast slabs, posts, electric poles, concreting in cold countries. Rapid hardening Cement is Costly. 
        There is a good speed of construction as the cement sets rapidly.
    </p>
   </div>
</body>
</html>