<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;

        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Sand Lime Brick.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p> 
        Made using a mixture of sand, lime, and possibly a color pigment to alter the final appearance of the brick, sand lime bricks have a 
        high compressive strength, so they are a common option for load-bearing walls in houses and multi-storied buildings. This type of 
        brick doesn’t require a high amount of mortar plaster, which saves time and reduces costs on a project. Sand lime bricks are 
        manufactured using both heat and pressure to accelerate the chemical reaction, resulting in bricks that have a smooth, uniform 
        finish that’s ideal for construction projects. These bricks are also common as acoustic insulation because sound has a hard time 
        passing through the dense sand lime material. Sand lime bricks (calcium silicate bricks) are made by mixing sand, fly ash, and lime. 
        Pigments may also be added for color. The mixture is then molded under pressure to form bricks. Sand lime bricks are not fired in 
        kilns in the same manner as burnt clay bricks; instead, the materials bond together by a chemical reaction that occurs as the wet 
        bricks dry under heat and pressure. Sand lime bricks offer advantages such as Their uniform shape presents a smoother finish that doesn’t require plastering, 
        They offer excellent strength for load-bearing structures, They are gray instead of the standard reddish color. Different pigments can be
        added for ornamental purposes, Less mortar is required during construction, Edges are straight and precise, making construction easier, 
        They do not effloresce salts and minerals, Sand lime bricks are often used in structural foundations and walls, exposed brick and pillars, 
        and, when the pigment is added, for ornamental uses. By high pressing the mixture and autoclaving afterwards, a firm white building 
        material is produced. Architects often prescribe sand-lime bricks for a building project, because of the bricks' good acoustic 
        insulation, good heat and humidity absorption, as well as excellent fire resistance. Calcium silicate bricks are made of sand and 
        lime and popularly known as sand lime bricks. These bricks are used for several purposes in construction industries such as ornamental 
        works in buildings, masonry works etc. Sand Lime Bricks are made of sand and lime popularly known as sand-lime bricks, these bricks 
        are used for various works in construction such as decorative work, masonry work, and many other works in buildings.
    </p>
   </div>
</body>
</html>
