<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;

        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Steel Rebar.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p> 
        Also known as reinforcing steel, rebar is a mesh of steel wires or a steel bar. This type of steel is used in masonry structures and 
        reinforced concrete to provide extra strength to withstand load pressure. Rebar's surface is often patterned to enhance the quality 
        of the bond made with concrete.Giovanni Valle, RA, LEE Rebar is popularly used in construction to add positive properties to concrete. 
        For instance, despite being strong in compression, concrete is usually weak in tension. Therefore, by carefully casting rebar into the 
        concrete, the overall tensile strength increases, thus making it possible to carry heavy tensile loads. Steel is usually preferred as 
        rebar when dealing with concrete due to their almost similar thermal expansion coefficient, which means the structure won't buckle or 
        weaken when the overall temperature levels increase. The Uses of Steel Rebar is Primary reinforcement- Rebar is a crucial construction
        material used to provide support and resistance to design loads. There are different types of rebar steel, each of which adds unique 
        features depending on the nature of construction. Secondary reinforcement- Rebar is also vital in reducing the chances of cracking and
        neutralizing the risks of temperature-induced stresses. This allows the structure to remain firm while also increasing its overall 
        lifespan. Provide resistance: Rebar functions by spreading concentrated loads across a wider area, which helps maintain a building or 
        bridge's structural integrity. Structures with greater dead and dynamic loads need more rebar compared to smaller structures with 
        reduced weights. Reinforced masonry- Some masonry bricks and blocks include strategically measured voids designed to accommodate rebar.
        Once secured in place through the use of grout, the rebar allows the blocks and bricks to manage greater tensile loads. Rebar steel 
        is a crucial component in structures in need of great tensile strength. When concrete is poured without adequate support down the 
        middle, it is highly likely to develop cracks due to enhanced stress. Placing rebar helps to absorb and distribute tension stress, 
        thus reducing the chances of cracks or breaking. Carbon steel is the most common form of steel rebar (short for reinforcing bar or 
        reinforcing steel). Rebar is commonly used as a tensioning device in reinforced concrete and reinforced masonry structures holding the 
        concrete in compression.
    </p>
   </div>
</body>
</html>
