<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;

        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Structural Steel.jpg" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Structural steel is a category of steel used for making construction materials in a variety of shapes. Many structural steel shapes 
        take the form of an elongated beam having a profile of a specific cross section. Structural steel shapes, sizes, chemical composition, 
        mechanical properties such as strengths, storage practices, etc., are regulated by standards in most industrialized countries. 
        The ability to mould and bend steel into different shaped sections means that steel is one of the most structurally sound materials used 
        in construction. The mechanical properties of steel are derived from an array of constituents, including its chemical makeup and its 
        manufacturing process and heat treatment. A major element in the composition of construction steel is iron; however, the strength of 
        steel can be markedly increased by the addition of various alloys, such as manganese and niobium. While these elements may ultimately 
        strengthen steel, they can also have negative effects on other properties like ductility and weldability. In most instances, 
        structural steel is the most cost-effective option in construction. In the past 30 years, advancements in steel production processes 
        have seen productivity rates increase exponentially. The time that it takes to produce a single tonne of steel is significantly lower, 
        meaning that as a base material it is much cheaper. Modern applications of steel have seen it take a more prominent place in the 
        aesthetic makeup of a building, not just the structural. Unlike wood and concrete, steel can be easily fashioned, bent and shaped in 
        any number of ways. Non-linear designs will benefit greatly from the use of structural steel. Steel is also quite beautiful, and many 
        architects have taken to exposing steel more and more, favouring it for its modern look, its aesthetic compatibility with concrete and 
        glass, and its overall transparency. Although it may not seem it, structural steel is one of the most sustainable materials used in 
        building and construction. Steel is a widely recycled material, with around 90% of structural steel being made up of recycled product.
        Steel is 100% recyclable, with minimal degradation affecting its viability for re-use, and can be done so with very minimal processing.
        The carbon footprint of steel has also been reduced massively in the past decade or so – by almost 50%. Energy consumption in steel 
        production has also been reduced significantly in the past 30 years and is continually decreasing. Water is also used minimally in the 
        production of steel. You can read more about the environmental benefits of steel here.
        
        
    </p>
   </div>
</body>
</html>