<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;

        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Sun-Dried Clay_Brick.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p> 
        Some DIYers might prefer to make these simple sun-dried clay bricks, which have been used as far back as 7,000 BC in southern Turkey 
        and around the city of Jericho in modern-day Palestine. The bricks comprise a mixture of loamy soil, water, and straw; they also 
        might include manure, clay, or sand to improve their strength and prevent the bricks from cracking. The mixture needs to be poured 
        into molds and the molds placed in a location out of the rain where they can dry. Once dry, remove the bricks from the mold and use 
        them for temporary masonry projects. DIYers should keep in mind that these are the weakest and least durable of brick types, so they 
        should never be used as load-bearing supports or foundations. Sun-dried clay bricks aren’t as robust as other types, but they are an 
        affordable and DIY option for temporary structures. The last major method of adobe construction is that of making sun-dried bricks. 
        These bricks can be hand formed, but are normally made from rectangular molds. Nonetheless, it is still hard work, because the mud is 
        set into the molds by hand. The bricks are left on the ground to dry in the sun. Once dry, they are then joined together by a mud 
        mortar of the same composition as the bricks, making a unified mass, which is then covered by a mud plaster. The benefits of the sun-
        dreid clay brick is the technique used is very simple with zero maintenance cost, local availability and affordability, and has a good 
        thermal and acoustic insulation. Because of this, earthen architecture has many advantages from a sustain ability perspective.
        Sun dried bricks are formed by packing mud into a form. They are then laid out and left to dry in the sun. The sun is the heat source 
        which dries the bricks. The bricks would harden more in a kiln and thus sun dried bricks are not as durable or as desireable. 
        Sun-dried clay is one of the oldest building materials that has been used for more than 10.000 years to build houses, mosques, 
        churches, palaces and cities. Currently one-third of the global population lives in this vernacular architecture made with the man-made 
        stone-like construction material. This building material, commonly made from a mix of clay and organic materials, is resisting the 
        long span of time and weathering.  
    </p>
   </div>
</body>
</html>
