<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Teak Wood.jpg" height="400px" width="1000px" frameborder="0px"> 
    <p>
        Teak is used in the general construction of buildings and is a common material for framing, cladding, fascias, decking and flooring. 
        It's also used for parquetry, carving, lining and panelling of interior and exterior spaces. Teak wood has a leather-like smell when 
        it is freshly milled and is particularly valued for its durability and water resistance. The wood is used for boat building, exterior 
        construction, veneer, furniture, carving, turnings, and other small wood projects. Oak. Oak is one of the strongest and the hardest 
        woods available. Its tough characteristic makes it ideal for the structure of buildings and it is a favourite for builders. This wood 
        is high quality, resistant to moisture, and has a unique appearance that adds character to a home. eak is used for boat building, 
        yachts, exterior construction, indoor and outdoor furniture, veneer, carvings, frames, Teak is the hardest, most durable and strongest 
        of the hardwoods, making it the perfect material for outdoor furniture that lasts. Used in shipbuilding since the middle ages, it 
        continues to be used today in the construction of ships and high-end yachts and boats. The key reason being that teak wood contains a 
        high oil content, high tensile strength and a very tight grain, making it particularly suitable where weather resistance is desired. 
        This makes it ideal for outdoor decking, flooring and tile especially in regions with high humidity and moisture. The Basic Law of 
        Supply and Demand Dictates Much of This High Cost. Teak is in high demand because of its properties. It is durable; water-, pest- and 
        rot-resistant; has only minor shrinkage; doesn't corrode with steel; and very importantly, has a beautiful look, naturally weathering 
        a silvery-gray tone. Teak wood has an abundance of natural oils that make it waterproof and shiny. Teak has been used on war ships 
        for centuries and used to make high-quality outdoor furniture such as patio sets and pool furniture. Teak is hard, but not so hard to 
        be difficult to work with. Though the silica will blunt sharp tools, plantation teak actually mills and accepts stains very well. 
        On the Janka Hardness scale for all woods, teak has a rating of 1,155 lbs, which is slightly harder than English Oak at 1,120 lbs. 
        Teak is widely considered to be one of the most durable woods. Teak is close-grained and high in minerals and natural oils so it's 
        strong, durable, and virtually impervious to all weather extremes and rotting. Teak is also more expensive than many other timbers 
        used to make outdoor furniture due to its availability. While teak a highly desired material, it isn't as readily available as some 
        of the other timbers on the market. This is because teak is a naturally slow growing timber and isn't as easy to harvest It is very 
        common with teak furniture to develop some crack due to different weather condition in different area. Some time due to sudden 
        variation in the weather teak wood grins start opening fast and small crack develop on week area. It is very normal. Although teak 
        wood is a porous material, its protective oils make it resistant to rotting, warping, and/or splitting caused by moisture. Over time, 
        you may notice some small cracks or splits, but this typically only happens when there are dramatic changes in humidity and temperature.
        In your home, teak is an excellent choice for bathroom or kitchen floors. While an overflowing bathtub might ruin many wood floors, 
        teak will come through just fine. Teak's hardness and natural oils also make it unappealing to many insects and fungi. Stains can be 
        applied to plantation teak, though at most we would suggest a semi-transparent stain to not cover up the beautiful texture and grain 
        of the wood. Sand the wood with 220 grit sandpaper and then apply a commercial sealer with a rag. Let dry and then lightly sand again 
        with 220 grit sandpaper. It is possible to paint your teak furniture. As teak is a wood that secretes oil, some precautions must be 
        taken to ensure a good adhesion. Lightly sand with 180 grit in order to have a good paint adhesion.
    </p>
   </div>
</body>
</html>
