<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <style>
        .iframe{
            height:auto;
            width:1000px;
            position: absolute;
            border: 1px solid black;
            box-sizing: border-box;
            border: 0px;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            padding-left: 10px;
            padding-right: 5px;
            text-align: justify;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="iframe">
    <img src="/Images/Weathering Steel.webp" height="500px" width="1000px" frameborder="0px"> 
    <p>
        Weathering steel is a family of low carbon steels that have additional alloying elements mixed in with the carbon and iron atoms. 
        These alloying elements give weathering steel better strength and more corrosion resistance than typical low carbon steel grades. 
        As a result, weathering steel is commonly used in outdoor applications or environments where normal steel would be inclined to rust.
        As a low carbon steel, weathering steel typically has less than 0.3% carbon by weight. This low amount of carbon allows it to remain 
        ductile and tough. Weathering steel also includes other alloying elements that help to increase the strength, but more importantly, 
        the corrosion resistance. There are many different alloying elements used, but the key three elements in weathering steel are nickel, 
        copper, and chromium. Weathering steel is not like other corrosion resistant steels, such as austenitic stainless steel, that resist 
        rust formation. Weathering steel will rust, however, it will only rust on the outer surface. The rust does not penetrate deeper into 
        weathering steel once the outer layer of rust has formed. The surface layer of rust acts as a barrier and actually protects the steel 
        from further corrosion. In plain carbon steel, the rust layer that forms is porous and will break off which allows another layer to 
        form deeper into the steel. This cycle repeats until the steel is rendered useless. In weathering steel, the alloying elements cause 
        the initial rust layer that forms to adhere much better to the steel, preventing the rust from penetrating deeper and weakening the 
        steel. This protective rust layer eliminates the need to coat weathering steel. Because weathering steel can outlast plain carbon 
        steel in outdoor conditions, it is frequently used for exposed steel structures. This removes the need for constant repainting and 
        recoating of the steel. Examples include building and bridge construction. The protective rust coating slows the corrosion rate enough 
        that by the time the amount of corrosion would be considered unsafe, the structure would have already exceeded its design life for 
        other reasons. There are environments where weathering steel should not be used because the corrosion resistance is not capable of 
        withstanding the conditions. Weathering steel should not be used in environments with high amounts of chlorine, as the protective 
        rust layer will not be able to withstand the high amount of corrosives present in chlorine rich environments. This can lead to 
        premature failure. Applications that could result in galvanic corrosion or corrosion induced by extreme pH levels should also not 
        utilize weathering steel.
    </p>
   </div>
</body>
</html>